.donutTitle1 {
  position: absolute;
  left: 17.99vw;
  right: 46.96vw;
  top: 28.73vh;
  bottom: 63.07vh;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 4vh;
  line-height: 4vh;
  /* or 106% */

  text-align: right;

  color: #ffffff;
}

.donutImage1 {
  width: 28vw;
  height: 14vh;
  position: absolute;
  z-index: 2;
  right: 8.19vw;
  top: 26vh;
}
.shadow1 {
  position: absolute;
  width: 27.5vw;
  height: 12.9vh;

  border-radius: 100%;
  right: 8.3vw;
  top: 26vh;
  z-index: 1;
  box-shadow: 0px 1.8vh 0.4vh #1fadc5;
}

.shadowInner1 {
  position: absolute;
  box-shadow: inset 0px 1vh 0.4vh #1fadc5;
  right: 16.8vw;
  top: 30.4vh;

  width: 11vw;
  height: 4.4vh;
  border-radius: 100%;
}

.donutTitle2 {
  position: absolute;
  left: 17.99vw;
  right: 46.96vw;
  top: 47.19vh;
  bottom: 44.6vh;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 4vh;
  line-height: 4vh;
  /* or 106% */

  text-align: right;

  color: #ffffff;
}

.donutImage2 {
  width: 28vw;
  height: 14vh;
  position: absolute;

  right: 8.19vw;
  top: 45vh;
  z-index: 2;
}

.shadow2 {
  position: absolute;
  width: 27.5vw;
  height: 12.9vh;

  border-radius: 100%;
  right: 8.19vw;
  top: 45vh;
  z-index: 1;
  box-shadow: 0 1.8vh 0.4vh #1fadc5;
}
.shadowInner2 {
  position: absolute;
  box-shadow: inset 0 1vh 0.4vh #1fadc5;
  right: 17vw;
  top: 49.4vh;

  width: 11vw;
  height: 4.4vh;
  border-radius: 100%;
}

.donutTitle3 {
  position: absolute;
  left: 21.03vw;
  right: 48.36vw;
  top: 66.41vh;
  bottom: 25.38vh;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 4vh;
  line-height: 4vh;
  /* or 106% */

  text-align: right;

  color: #ffffff;
}

.donutImage3 {
  width: 28vw;
  height: 14vh;
  position: absolute;
  z-index: 2;
  right: 8.19vw;
  top: 64vh;
}

.shadow3 {
  position: absolute;
  width: 27.5vw;
  height: 12.9vh;

  border-radius: 100%;
  right: 8.19vw;
  top: 64vh;
  z-index: 1;
  box-shadow: 0 1.8vh 0.4vh #1fadc5;
}
.shadowInner3 {
  position: absolute;
  box-shadow: inset 0 1vh 0.4vh #1fadc5;
  right: 17.25vw;
  top: 68.6vh;

  width: 11vw;
  height: 4.4vh;
  border-radius: 100%;
}

.donutTitle4 {
  position: absolute;
  left: 11.92vw;
  right: 46.96vw;
  top: 84.88vh;
  bottom: 6.91vh;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 4vh;
  line-height: 4vh;
  /* or 106% */

  text-align: right;

  color: #ffffff;
}

.donutImage4 {
  width: 28vw;
  height: 14vh;
  position: absolute;
  z-index: 2;
  right: 8.19vw;
  top: 83vh;
}

.shadow4 {
  position: absolute;
  width: 27.5vw;
  height: 12.9vh;

  border-radius: 100%;
  right: 8.19vw;
  top: 83vh;
  z-index: 1;
  box-shadow: 0 1.8vh 0.4vh #1fadc5;
}

.shadowInner4 {
  position: absolute;
  box-shadow: inset 0 1vh 0.4vh #1fadc5;
  right: 17.5vw;
  top: 87.6vh;
  
  width: 11vw;
  height: 4.4vh;
  border-radius: 100%;
}

.donutImage5 {
  position: absolute;
  left: 15vw;
  top: 13vh;
  width: 68vw;
  height: 34vh;
  z-index: 2;
}

.shadow5 {
  position: absolute;
  width: 67vw;
  height: 32.5vh;

  border-radius: 100%;
  right: 17vw;
  top: 12vh;
  z-index: 1;
  box-shadow: 0px 4.2vh 2.5vh #e28138;
}

.shadowInner5 {
  position: absolute;
  box-shadow: inset 0px 4.2vh 2.5vh #e28138;
  left: 36vw;
  top: 23vh;
  width: 26vw;
  height: 13vh;
  border-radius: 100%;
}

.donutImage6 {
  position: absolute;
  left: 16vw;
  top: 13vh;
  width: 69vw;
  height: 34vh;
  z-index: 2;
  filter: drop-shadow(0px 15px 10px #4e21a4);
}
