.menuScreenContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    font-weight: 700;
    background-color: #21E8E5;
    overflow: hidden;
}

.bigTitle{
    position: absolute;
    left: 24.53vw;
    right: 8.41vw;
    top: 11.99vh;
    bottom: 80.24vh;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 10vh;
    line-height: 8vh;
    
    
    text-align: center;
    
    color: #FFFFFF;
}

.smallTitle{
    position: absolute;
left: 67vw;
right: 8.41vw;
top: 6.16vh;
bottom: 86.07vh;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 5vh;
line-height: 8vh;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;
}

