.payment-screen-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  font-weight: 700;
  background-color: #ff86b3;
  overflow: hidden;
}

.bigTitle {
  position: absolute;
  left: 22.9vw;
  right: 19.16vw;
  top: 25.81vh;
  bottom: 66.41vh;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 10vh;
  line-height: 8vh;
  /* identical to box height, or 75% */

  text-align: center;

  color: #ffffff;
}

.smallTitle {
  position: absolute;
  left: 42.29vw;
  right: 19.16vw;
  top: 19.98vh;
  bottom: 72.25vh;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 5vh;
  line-height: 8.2vh;
  /* identical to box height, or 150% */

  text-align: center;

  color: #ffffff;
}
.middleTitle {
  position: absolute;
  left: 28.5%;
  right: 17.76%;
  top: 14.69%;
  bottom: 77.54%;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 6.6vh;
  line-height: 8vh;
  /* identical to box height, or 112% */

  text-align: center;

  color: #ffffff;
}

.donut1 {
  position: absolute;
  left: -30vw;
  bottom: 6vh;
  width: 55vw;
  height: 27vh;
  filter: drop-shadow(1vh 2vh 1vh #e5508c);
}
.donut2 {
  position: absolute;
  right: -23.5vw;
  bottom: -13.5vh;
  width: 67vw;
  height: 35vh;
  filter: drop-shadow(0 3.5vh 1vh #e5508c);
}

.appleBtn {
  position: absolute;
  width: 65vw;
  height: 8.6vh;
  left: 17.5vw;
  top: 41.4vh;
  bottom:50vh;
  border-style: none;
  background: #ffffff;
}
.googleBtn {
  position: absolute;
  width: 65vw;
  height: 8.6vh;
  left: 17.5vw;
  top: 54.4vh;
  bottom: 37vh;
  border-style: none;
  background: #ffffff;
}
.appleImg {
  position: absolute;
  top: -2.9vh;
  left: 16vw;
}
.googleImg {
  position: absolute;
  top: -2.9vh;
  left: 16vw;
}
