.preparation-screen-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    font-weight: 700;
    background-color: #FFE84A;
    overflow: hidden;
}

.middleTitle{
    
position: absolute;
width: 50vw;
height: 10vh;
left: 24vw;
bottom: 31vh;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 4.4vh;
line-height: 8vh;
/* identical to box height, or 180% */

text-align: center;

color: #FFFFFF;
}



.sparkles{
    scale:1.3;
    position: absolute;
    top:-10vh;
}

