.preparation-screen-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    font-weight: 700;
    background-color: #FFE84A;
}

.middleTitle{
    
position: absolute;
width: 229px;
height: 72px;
left: 104px;
top: 549px;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 72px;
/* identical to box height, or 180% */

text-align: center;

color: #FFFFFF;
}



.sparkles{
    scale:1.3;
    position: absolute;
    top:-10%;
}

