.ready-screen-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  font-weight: 700;
  background: linear-gradient(-130.5deg, #21e8e5 35%, #5739d6 35%);
  overflow: hidden;
}
.message{
    
    
    position: absolute;
   
    width: 96vw;
    height: 12.5vh;
   left:2vw;
   right:2vw;
    bottom: 30vh;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.paragraphs{
    display: flex;
    flex-direction: column;
    
    align-items: right;
    
    
    
}

.paragraphs>p {
    
    
    margin: 0;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 4.2vh;
    line-height: 4.5vh;
    /* or 110% */
    
    text-align: right;
    
    color: #FFFFFF;
    
}

.doneBtn{
    position: absolute;
width: 60vw;
height: 8.1vh;
left: 20vw;
bottom: 11vh;
border-style: none;
background: #FFFFFF;
font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 5.3vh;
line-height: 8vh;
/* identical to box height, or 150% */

text-align: center;

color: #282828;

}
