.start-screen-container {
  background: linear-gradient(120deg, #ffe84a 44.25%, #ff86b3 44.25%);
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  font-weight: 700;
  overflow: hidden;
}

.bigTitle {
  position: absolute;
  width: 373px;
  height: 144px;
  left: 32px;
  bottom: 136px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 72px;
  /* or 75% */

  text-align: center;

  color: #ffffff;
}

.smallTitle {
  position: absolute;
  width: 99px;
  height: 72px;
  left: 300px;
  bottom: 265px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #ffffff;
}

.start-button {
  position: absolute;
  width: 276px;
  height: 76px;
  left: 71px;
  bottom: 20px;
  border-style: none;
  background: #ffffff;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #282828;
}

.donut1 {
  position: absolute;
  left: -10%;

  top: -4%;
  bottom: 11.99%;
  width: 255px;
  height: 240px;
  filter: drop-shadow(1px 20px 12px #ec7317);
}

.donut2 {
  width: 291px;
  height: 289px;
  position: absolute;

  right: -4%;
  top: 18%;
  filter: drop-shadow(1px 20px 12px #e44e8a);
}

.sparkles {
  position: absolute;
  scale: 1.75;
  top: -23%;
  left: 20%;
}
