.start-screen-container {
  background: linear-gradient(120deg, #ffe84a 44.25%, #ff86b3 44.25%);
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  font-weight: 700;
  overflow: hidden;
}

.bigTitle {
  position: absolute;
  width: 80vw;
  height: 15vh;
  left: 8vw;
  bottom: 15vh;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 9.9vh;
  line-height: 7.6vh;
  /* or 75% */

  text-align: center;

  color: #ffffff;
}

.smallTitle {
  position: absolute;
  width: 24vw;
  height: 7vh;
  right: 10.5vw;
  left:65.5vw;
  bottom: 29vh;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 5.3vh;
  line-height: 7.8vh;
  /* identical to box height, or 150% */

  text-align: center;

  color: #ffffff;
}

.start-button {
  position: absolute;
  width: 65vw;
  height: 8vh;
  left: 17.5vw;
  bottom: 2.5vh;
  border-style: none;
  background: #ffffff;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 5.3vh;
  line-height: 7.8vh;
  /* identical to box height, or 150% */

  text-align: center;

  color: #282828;
}

.donut1 {
  position: absolute;
  left: -10vw;
  right: 50vw;
  top: -4vh;
  bottom: 11.99%;
  width: 60vw;
  height: 27vh;
  filter: drop-shadow(0.1vh 1.5vh 1.2vh #ec7317);
}

.donut2 {
  width: 66vw;
  height: 29vh;
  position: absolute;
right:38vw;
  right: -4vw;
  top: 18vh;
  filter: drop-shadow(0.1vh 1.5vh 1.2vh #e44e8a);
}

.sparkles {
  position: absolute;
  scale: 1.75;
  top: -23vh;
  left: 20vw;
}
